body{
    font-family: 'Montserrat', sans-serif;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
.block__price{
    text-align: center;
    background-color: blueviolet;
    padding: 20px 40px;
    border: 20px solid rgba(22, 21, 22, 0.281);
    border-radius: 20px;
}
.block__title-text{
    font-weight: bold;
}
.block__price *{
    margin-bottom: 10px;
}