.btn{
    padding: 20px 30px;
    background-color: cadetblue;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    margin-top: 100px;
    color: #fff;
    font-size: 20px;
}
.btn:active{
    background-color: rgb(79, 133, 134);
}
.ul li{
    color: black;
}
section{
    text-align: center;
}